<div class="panel panel-default" *ngIf="story">

  <form [formGroup]="storyForm" ngSubmit)="updatestory()">
    <div class="panel-heading">
      <span *ngIf="!editing">{{ story.title }}</span>
      <span *ngIf="editing">
        <input type="text" class="form-control" [formControl]="title">
      </span>
      <span class="pull-right" *ngIf="!editing">
        <a [routerLink]="['/user/profile', story.user.id]">{{ story.user.name }}</a>
      </span>
    </div>
    <div class="panel-body">
      <p class="text-center" *ngIf="!editing">
        {{ story.content }}
      </p>
      <p class="text-center" *ngIf="editing">
        <textarea rows="10" class="form-control" [formControl]="content">
      </textarea>
      </p>
    </div>
  </form>

  <div class="panel-footer">
    <!-- {{ story.created_at | prettyDate }} -->
    <span *ngIf="canEditOrDelete && !editing">
      <button class="btn btn-xs btn-danger pull-right" (click)="deletestory()">Delete</button>
      <button class="btn btn-xs btn-info pull-right" (click)="edit()" style="margin-right: 5px;">Edit</button>
    </span>
    <span *ngIf="editing">
      <button class="btn btn-primary btn-xs pull-right" style="margin-right: 5px;" (click)="cancel()">Cancel
        changes</button>
      <button class="btn btn-primary btn-xs pull-right" [disabled]="title.invalid || content.invalid" type="submit">Save
        changes</button>
    </span>
  </div>
</div>