<div class="col-lg-4" *ngIf="person">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="text-center">{{Person.name}}'s profile</p>
    </div>
    <div class="panel-body">
      <div class="text-center">
        <img ngxGravatar [email]="Person.email" size="30" src="http://placehold.it/150x150" [style]="styleObject">
      </div>
      <br>
      <p class="text-center">
        Joined Date: {{date | formatDate}}
      </p>
      <br>
      <p *ngIf="isAuthUserProfile()" class="text-center">
        <a class="btn btn-info">Edit your profile</a>
      </p>
    </div>
  </div>
  <div *ngIf="!isAuthUserProfile()">
    <app-follow [currentProfileId]='id'></app-follow>
  </div>

</div>