<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">

          <form class="form-horizontal" [formGroup]="loginForm">

            <div class="form-group">
              <i class="material-icons control-label col-md-2">person</i>
              <label for="name" class="control-label col-md-2">E-mail</label>
              <div class="col-md-6">
                <input id="email" type="email" class="form-control" formControlName="email">
              </div>
              <div class="error-message" *ngIf="
              loginForm.get('email').hasError('email') &&
                  !loginForm.get('email').hasError('required')
                ">
                Invalid E-mail
              </div>
              <div class="error-message" *ngIf="
              loginForm
                    .get('email')
                    .hasError('required') &&
                  (loginForm.get('email').touched || showValid)
                ">
                E-mail Is required
              </div>
            </div>

            <div class="form-group">
              <i class="material-icons col-md-2 control-label">lock</i>
              <label for="password" class="col-md-2 control-label">Password</label>
              <div class="col-md-6">
                <input type="password" class="form-control" formControlName="password" clearOnEdit="false"
                  validateEqualTo="confirmPassword">
              </div>
              <div class="error-message" *ngIf="
              loginForm
                    .get('password')
                    .hasError('required') &&
                  (loginForm.get('password').touched ||
                    showValid)
                ">
                Password is required
              </div>
              <div class="error-message" *ngIf="
              loginForm.get('password').touched &&
              loginForm.get('password').hasError('pattern')
                ">
                Password isn't strong
              </div>
            </div>



            <div class="form-group">
              <div class="col-md-8 col-md-offset-4">
                <button type="submit" class="btn btn-primary" (click)="login()">
                  Login
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>