<ng-progress></ng-progress>

<app-login></app-login>
<app-register></app-register>


<mat-sidenav-container class="mat-typography app-frame mat-app-background">

  <mat-toolbar color="primary">

    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      {{title}}
    </button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button color="warn" (click)="ngxSmartModalService.getModal('loginModal').open()">Login</button>
      <button mat-button color="accent"
        (click)="ngxSmartModalService.getModal('registerModal').open()">Register</button>
      <button *ngIf="isLoggedIn() && id" [routerLink]="['/user/profile' , id ]">My Profile</button>
      <button *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
      <button *ngIf="theme =='Dark'" mat-button (click)="toggleTheme()"> <i class="material-icons">
          flash_on
        </i></button>
      <button *ngIf="theme =='Light'" mat-button (click)="toggleTheme()"> <i class="material-icons">
          flash_off
        </i></button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/products">Products</button>
    <button mat-menu-item routerLink="/dashboard">Dashboard</button>
    <!--<button mat-menu-item>Help</button>-->
  </mat-menu>



  <div>
    <router-outlet></router-outlet>
  </div>

  <footer class="page-footer font-small  pt-4 footer">
    <!-- Footer -->

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a> S</a>
    </div>
    <!-- Copyright -->

    <!-- Footer -->
  </footer>

</mat-sidenav-container>