@import "~@angular/material/theming";

@mixin anms-register-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .textColor {
    color: mat-color($warn) !important;
    background: mat-color($accent) !important;
    border: 1rem solid mat-color($primary);
  }
}
